*{
    box-sizing: border-box;
}

body{
    background-color:#22254b;
    color:#fff;
    font-family: sans-serif;
    text-align: center;
    display: flex;
    margin: 4rem;
    flex-direction: column;
   
}
.search{
    margin-bottom: 2rem;
}
.search input{
    outline: none;
    width: 30%;
    padding: 0.2rem;
    border-radius: 5px;
}
.search button{
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0.2rem;
    margin-left: 0.2rem;
}
.weatherresult h2{
    margin: 2rem; 
}

